<%= form_for :name, url: names_path do |f| -%>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br />
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br />
  <%= f.submit %>
<%- end %>

<h2>
  <%= @name.first_name %>
  <%= @name.last_name %>
<h2>